<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=8">
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap/css/bootstrap.min.css" />

        <link rel="stylesheet" type="text/css" media="all" href="css/style.css" />

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="script/underscore-min.js"></script>
        <script type="text/javascript" src="script/backbone-min.js"></script>
        <script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>


        <script type="text/javascript" src="script/brewsheet.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                var brew = ol.createBrew();
                var general = new ol.GeneralInformationView({el: $("#desc"), model: brew.generalInformation}).render();
                var maltView = new ol.MaltSectionView({el: $("#malt_section"), collection: brew.malts}).render();
                var hopView = new ol.HopSectionView({el: $("#hops_section"), collection: brew.hops}).render();
                var additivesView = new ol.AdditiveSectionView({el: $("#additives_section"), collection: brew.additives}).render();
                var waterView = new ol.WaterView({el: $("#water_table"), model: brew.water}).render();
                var mashTimeView = new ol.MashTimeView({el: $("#mashing_section"), collection: brew.mashSchedule}).render();
                var fermentationView = new ol.FermentationView({el: $("#fermentation"), model: brew.fermentation}).render();
                var additionalInformationView = new ol.AdditionalInformationView({el: $("#additional_desc"), model: brew.additionalInformation}).render();
                window.brew = brew;

                var recepieView = new ol.RecepieView({el: $("#recepie"), data: brew});
            });
        </script>

    </head>
    <body>
    <div id="recepie">
        <button class="btn" id="show_recipe">Show recipe</button>
    </div>

<!--    <div id="container"> -->

    <div class="row">

        <div class="span2">
        </div>

        <div class="span12">

            <div class="row">
                <h1>Brewsheet</h1>

                <div id="general_section" class="section span10">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>General information</legend>
                            <div id="desc"></div>
                        </fieldset>
                    </form>
                </div>

            </div>

            <div class="row">

                <div id="malt_section" class="section span10">

                    <form>
                        <fieldset>
                            <legend>Malt</legend>
                            <table id="malts_table" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="mini-td">Qty (g)</th>
                                    <th class="mini-td">%</th>
                                    <th class="large-td">Malt/Sugar</th>
                                    <th class="mini-td">OG</th>
                                    <th class="mini-td">Color (EBC)</th>
                                    <th class="ex-small"></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <button type="button" id="add_malt" class="btn pull-right">Add malt</button>

                        </fieldset>
                    </form>
                </div>

            </div>

            <div class="row">

                <div id="mashing_section" class="section span10">

                    <form>
                        <fieldset>
                            <legend>Mashing schedule</legend>

                            <table id="mashing" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="medium-td">Duration (m)</th>
                                    <th class="medium-td">Temp (&deg;C)</th>
                                    <th class="ex-small"></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <button type="button" id="add_mash_time" class="btn pull-right">Add time</button>
                        </fieldset>
                    </form>
                </div>

            <div class="row">

                <div id="hops_section" class="section span10">
                    <h2>Hops</h2>
                    <table id="hops"  class="fullsize">
                        <thead>
                        <tr>
                            <th class="small">Qty (g)</th><th>Hop name</th><th class="small">&alpha; Acid</th><th class="small">Form</th><th class="medium">Boil Time (m)</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button id="add_hop" class="pull-right">Add hops</button>
                </div>

            </div>

            <div class="row">

                <div id="additives_section" class="section span10">
                    <h2>Additives</h2>
                    <table id="additives" sclass="fullsize">
                        <thead>
                        <tr>
                            <th class="small">Qty (g)</th><th>Additive name</th><th class="medium">Boil Time (m)</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button id="add_additive" class="pull-right">Add Additives</button>
                </div>

            </div>

            <div class="row">

                <div id="water_section" class="section span10">
                    <h2>Water</h2>
                    <table class="bottom-border" id="water_table">
                    </table>
                </div>
            </div>

            <div class="row">

                <div id="boil_section" class="section span10">
                    <h2>Boiling</h2>
                    <div class="single-field underline"  style="width: 300px;">
                        <label for="total_boil_time">Total mash boil time:</label>
                        <input id="total_boil_time" type="text" class="no-border spaced small" value="">
                    </div>
                </div>

            </div>

            <div class="row">

                <div id="fermentation_section" class="section span10">
                    <h2>Fermentation</h2>
                    <table id="fermentation" class="bottom-border">

                    </table>
                </div>
            </div>

            <div class="row">

                <div id="other_section" class="section span10">
                    <h2>Other information</h2>
                    <table id="additional_desc" class="bottom-border fullsize">
                    </table>
                </div>
            </div>
        </div>
    </div>

<script type="text/template" id="malt_table_row_template">
    <td>
        <input id="quantity" type="text" class="input-mini" value="<%= quantity %>">
    </td>
    <th>
        <input id="percentage" type="text" class="input-mini" readonly="readonly" value="<%= percentage %>">
    </th>
    <td>
        <input id="ingredient" type="text" class="input-large" value="<%= ingredient %>">
    </td>
    <td>
        <input id="og" type="text" class="input-mini" value="<%= og %>">
    </td>
    <td>
        <input id="color" type="text" class="input-mini" value="<%= color %>">
    </td>
    <td class="remove"><i class="icon-remove-circle"></i></td>
</script>

    <script type="text/template" id="hop_table_row_template">
        <td>
            <input id="quantity" type="text" class="no-border small" value="<%= quantity %>">
        </td>
        <td>
            <input id="name" type="text" class="no-border" value="<%= name %>">
        </td>
        <td>
            <input id="alpha_acid" type="text" class="no-border small" value="<%= alpha_acid %>">
        </td>
        <td>
            <input id="form" type="text" class="no-border small" value="<%= form %>">
        </td>
        <td>
            <input id="boil_time" type="text" class="no-border small" value="<%= boil_time %>">
        </td>
    </script>

    <script type="text/template" id="additive_table_row_template">
        <td>
            <input id="quantity" type="text" class="no-border small" value="<%= quantity %>">
        </td>
        <td>
            <input id="name" type="text" class="no-border" value="<%= name %>">
        </td>
        <td>
            <input id="boil_time" type="text" class="no-border small" value="<%= boil_time %>">
        </td>
    </script>

    <script type="text/template" id="mash_time_row_template">

        <td class="medium">
            <input id="mash_time" type="text" class="input-mini">
        </td>
        <td class="medium">
            <input id="mash_temperature" type="text" class="input-mini">
        </td>
        <td class="remove"><i class="icon-remove-circle"></i></td>
    </script>

    <script type="text/template" id="fermentation_template">
        <tr>
            <td colspan="2">
                <div class="single-field">
                    <label for="yeast_name">Yeast name</label>
                    <input id="yeast_name" type="text" class="no-border spaced" value="<%= yeast_name %>">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="single-field">
                    <label for="primary_fermentation_days" class="large">Primary Fermentation</label>
                    <input id="primary_fermentation_days" type="text" class="no-border small spaced rightalign" value="<%= primary_fermentation_days %>">
                </div>
            </td>
            <td>
                <div class="single-field">
                    <label for="primary_fermentation_temp">days at</label>
                    <input id="primary_fermentation_temp" type="text" class="no-border small spaced rightalign" value="<%= primary_fermentation_temp %>">
                    &deg;C
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="single-field">
                    <label for="secondary_fermentation_days" class="large">Secondary Fermentation</label>
                    <input id="secondary_fermentation_days" type="text" class="no-border small spaced rightalign" value="<%= secondary_fermentation_days %>">
                </div>
            </td>
            <td>
                <div class="single-field">
                    <label for="secondary_fermentation_temp">days at</label>
                    <input id="secondary_fermentation_temp" type="text" class="no-border small spaced rightalign" value="<%= secondary_fermentation_temp %>">
                    &deg;C
                </div>
            </td>
        </tr> 
        <tr>
            <td>
                <div class="single-field">
                    <label for="storage_days" class="large">Storage</label>
                    <input id="storage_days" type="text" class="no-border small spaced rightalign" value="<%= storage_days %>">
                </div>
            </td>
            <td>
                <div class="single-field">
                    <label for="storage_temp">days at</label>
                    <input id="storage_temp" type="text" class="no-border small spaced rightalign" value="<%= storage_temp %>">
                    &deg;C
                </div>
            </td>
        </tr>
    </script>

    <script type="text/template" id="water_table_template">
        <tr>
            <td>
                <div class="single-field">
                    <label for="mashing_water" class="large">Mashing Water</label>
                    <input id="mashing_water" type="text" class="no-border small spaced rightalign" value="<%= mashing_water %>">
                    l
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="single-field">
                    <label for="sparging_water" class="large">Sparging Water</label>
                    <input id="sparging_water" type="text" class="no-border small spaced rightalign" value="<%= sparging_water %>">
                    l
                </div>
            </td>
        </tr>
    </script>

    <script type="text/template" id="general_information_template">

        <div class="row">
            <div class="span5">
                <div class="control-group">
                    <label for="beer_name" class="control-label">Beer Name</label>
                    <div class="controls">
                        <input type="text" id="beer_name" class="no-border" value="<%= beer_name %>">
                    </div>
                </div>

            </div>
            <div class="span5">
                <div class="control-group">
                    <label for="brewer" class="control-label">Brewer</label>
                    <div class="controls">
                        <input id="brewer" type="text" class="no-border" value="<%= brewer %>">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span5">
                <div class="control-group">
                    <label for="beer_style" class="control-label">Beer Style</label>
                    <div class="controls">
                        <input type="text" id="beer_style" class="no-border" value="<%= beer_style %>">
                    </div>
                </div>

            </div>
            <div class="span5">
                <div class="control-group">
                    <label for="brew_date" class="control-label">Brew Date</label>
                    <div class="controls">
                        <input id="brew_date" type="text" class="no-border" value="<%= brew_date %>">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span5">
                <div class="control-group">
                    <label for="wort_size" class="control-label">Wort Volume (l)</label>
                    <div class="controls">
                        <input id="wort_size" type="text" class="no-border" value="<%= wort_size %>">
                    </div>
                </div>

            </div>
            <div class="span5">
                <div class="control-group">
                    <label for="batch_size" class="control-label">Final Volume (l)</label>
                    <div class="controls">
                        <input id="batch_size" type="text" class="no-border" value="<%= batch_size %>">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span5">
                <div class="control-group">
                    <label for="computed_ibu" class="control-label">Bitterness (IBU)</label>
                    <div class="controls">
                        <input id="computed_ibu" type="text" class="no-border" value="<%= computed_ibu %>">
                    </div>
                </div>

            </div>
            <div class="span5">
                <div class="control-group">
                    <label for="computed_color" class="control-label">Color (EBC)</label>
                    <div class="controls">
                        <input id="computed_color" type="text" class="no-border" value="<%= computed_color %>">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span5">
                <div class="control-group">
                    <label for="actual_og" class="control-label">Actual OG</label>
                    <div class="controls">
                        <input id="actual_og" type="text" class="no-border" value="<%= actual_og %>">
                    </div>
                </div>

            </div>
            <div class="span5">
                <div class="control-group">
                    <label for="fg" class="control-label">FG</label>
                    <div class="controls">
                        <input id="fg" type="text" class="no-border" value="<%= fg %>">
                    </div>
                </div>
            </div>
        </div>

    </script>

<script type="text/template" id="ascii_template">
[tt][size=10pt][b]Generell informasjon[/b]
Navn på brygget: <%= ol.templateFunc.orNa(generalInformation.beer_name) %>
Øltype: <%= ol.templateFunc.orNa(generalInformation.beer_style) %>
Antall poeng i konkurransen: ** av **
OG: <%= ol.templateFunc.rpad(ol.templateFunc.orNa(generalInformation.actual_og), 3) %>
FG: <%= ol.templateFunc.rpad(ol.templateFunc.orNa(generalInformation.fg), 3) %>
Farve (beregnet): <%= ol.templateFunc.rpad(ol.templateFunc.orNa(generalInformation.computed_color), 3) %> EBC
Beregnet bitter:  <%= ol.templateFunc.rpad(ol.templateFunc.orNa(generalInformation.computed_ibu), 3) %> IBU
Vørtermengde: <%= ol.templateFunc.rpad(ol.templateFunc.orNa(generalInformation.wort_size), 3) %> l
Sluttvolum:   <%= ol.templateFunc.rpad(ol.templateFunc.orNa(generalInformation.batch_size), 3) %> l

[b]Malt & sukker[/b]
<%
    if(malts.length > 0) {
        var iSpace = _.max(_.pluck(malts.reverse(), "ingredient"), function(i) {return i.length; }).length;
        _.each(malts, function(malt) {  
            print(ol.templateFunc.rpad(ol.templateFunc.orNa(malt.quantity), 4) + " gram       " + ol.templateFunc.rpad(ol.templateFunc.orNa(malt.percentage), 4) + " %      " + ol.templateFunc.rpad(ol.templateFunc.orNa(malt.ingredient), iSpace) + "         " + ol.templateFunc.rpad(ol.templateFunc.orNa(malt.color), 4) + " EBC\n");
        }); 
    }
%>
[b]Vann[/b]
<%= ol.templateFunc.rpad(ol.templateFunc.orNa(water.mashing_water), 3) %> liter til innmesking
<%= ol.templateFunc.rpad(ol.templateFunc.orNa(water.sparging_water), 3) %> liter til skylling

[b]Meskeskjema[/b]
*** min    *** gr C
*** min    *** gr C
*** min    *** gr C
*** min    *** gr C

[b]Humle[/b]
*** gram    betegnelsen på humletype    *** % alfa  hel/pellets     koketid *** min
*** gram    betegnelsen på humletype    *** % alfa  hel/pellets     koketid *** min

[b]Krydder og andre tilsetninger[/b]
*** gram    navn på krydder/tilsetning          koketid *** min
*** gram    navn på krydder/tilsetning          koketid *** min
*** gram    navn på krydder/tilsetning          koketid *** min

[b]Koketid[/b]
Total koketid vørter: *** min

[b]Gjær[/b]
Betegnelsen på gjæren:   <%= ol.templateFunc.rpad(ol.templateFunc.orNa(fermentation.yeast_name), 3) %>            flytende/tørr-/selvdyrket gjær

[b]Gjæringstemperatur og -tid[/b]
Gjæring/primærgjæring    *** dager ved *** gr C
Modning/sekundærgjæring  *** dager ved *** gr C
lagring       *** dager ved *** gr C

[b]Øvrig informasjon[/b]
Filtrert: <%= ol.templateFunc.yesNo(additionalInformation.filtered) %>
CO2: <%= ol.templateFunc.mapCo2(additionalInformation.co2) %>
Bryggedato: <%= ol.templateFunc.rpad(ol.templateFunc.orNa(additionalInformation.brew_date), 10) %>
Tappedato:  <%= ol.templateFunc.rpad(ol.templateFunc.orNa(additionalInformation.bottle_date), 10) %>

[b]Kommentar:[/b] <%= ol.templateFunc.orNa(additionalInformation.comment) %>[/size][/tt]
</script>

    <script type="text/template" id="additional_information_template">
        <tr>
            <td>
                <div class="single-field">
                    <label for="brew_date">Brew Date</label>
                    <input id="brew_date" type="text" class="no-border" value="<%= brew_date %>">
                </div>
            </td>
            <td>
                <div class="single-field">
                    <label for="bottle_date">Bottle Date</label>
                    <input type="text" id="bottle_date" class="no-border" value="<%= bottle_date %>">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="single-field">
                    <label for="filtered">Filtered</label>
                    <input type="checkbox" id="filtered" <% if( filtered) { %> checked  <% } %> >
                </div>
            </td>
            <td>
                <div class="single-field">
                    <label for="co2">CO<sub>2</sub></label>
                    <!--<input type="text" id="co2" class="no-border">-->
                    <select id="co2">
                        <option value="none" <% if( co2 == 'none') { %> selected  <% } %>></option>
                        <option value="natural" <% if( co2 == 'natural') { %> selected  <% } %>>Natural</option>
                        <option value="added" <% if( co2 == 'added') { %> selected  <% } %>>Added</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label for="comment">Additional comments</label>
                <textarea id="comment"><%= comment %></textarea>
            </td>
        </tr>
    </script>

    <div id="recipeModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            &nbsp;
        </div>
        <div class="modal-body">
        </div>
    </div>

    </body>
</html>