Flask==0.10.1
Flask-Assets==0.10
git+https://github.com/atlefren/flask-googlelogin.git
Flask-Login==0.2.11
Flask-RESTful==0.1.5
Flask-Restless==0.9.3
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.2
Flask-WhooshAlchemy==0.55a
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.7.9
Tempita==0.5.1
WTForms==1.0.3
Werkzeug==0.15.3
Whoosh==2.4.1
argparse==1.2.1
blinker==1.2
decorator==3.4.0
itsdangerous==0.24
jsmin==2.1.0
psycopg2==2.8.6
pycrypto==2.6.1
python-dateutil==1.5
requests[security]==2.6.0
simplejson==3.6.5
sqlalchemy-migrate==0.7.2
webassets==0.10.1
wsgiref==0.1.2
