<section id="fermentation_section">
    <form>
        <fieldset  class="form-inline">
            <legend>Fermentation</legend>

            <div class="row">
            <div id="fermentations" class="span10">
                <table id="fermentation_table" class="table">
                    <tbody>
                    </tbody>
                </table>
               <button type="button" id="add_fermentation" class="btn pull-right">Add fermentation</button>
            </div>
            </div>


<!--
            <div id="fermentation" class="content">
                <div>
                    <label for="primary_fermentation_days" class="ferm-label">
                        Primary fermentation
                    </label>
                    <input type="text" id="primary_fermentation_days" class="input-mini" value="">
                    days
                    <label for="primary_fermentation_temp">
                        at
                        <input type="text" id="primary_fermentation_temp" class="input-mini" value="">
                        &deg;C
                    </label>
                </div>
                <div>
                    <label for="secondary_fermentation_days" class="ferm-label">
                        Secondary fermentation
                    </label>
                    <input type="text" id="secondary_fermentation_days" class="input-mini" value="">
                    days
                    <label for="secondary_fermentation_temp">
                        at
                        <input type="text" id="secondary_fermentation_temp" class="input-mini" value="">
                        &deg;C
                    </label>
                </div>
                <div>
                    <label for="storage_days" class="ferm-label">
                        Storage
                    </label>
                    <input type="text" id="storage_days" class="input-mini" value="">
                    days
                    <label for="storage_temp">
                        at
                        <input type="text" id="storage_temp" class="input-mini" value="">
                        &deg;C
                    </label>
                </div>
            </div>
            -->
        </fieldset>
    </form>
</section>