<section id="fermentation_section">
    <form>
        <fieldset  class="form-inline">
            <legend>Fermentation</legend>
            <div class="row">
                <div id="fermentations" class="span10">
                    <table id="fermentation_table" class="table">
                        <tbody>
                        </tbody>
                    </table>
                   <button type="button" id="add_fermentation" class="btn pull-right">Add fermentation</button>
                </div>
            </div>
        </fieldset>
    </form>
</section>