<section id="fermentation_section" class="container-fluid">
    <form>
        <fieldset>
            <legend>Fermentation</legend>
            <div class="row">
                <div id="fermentations" class="col-md-4">
                    <table id="fermentation_table" class="table">
                        <tbody>
                        </tbody>
                    </table>
                   <button type="button" id="add_fermentation" class="btn pull-right">Add fermentation</button>
                </div>
            </div>
        </fieldset>
    </form>
</section>