<section>
    <form>
        <fieldset>
            <div class="row">
                <div class="span4">
                    <label for="beer_name">Beer Name</label>
                    <input type="text" id="beer_name" class="input-xlarge" value="<%= beer_name %>">
                </div>
                <div class="span4">
                    <label for="brewer">Brewer</label>
                    <input type="text" id="brewer" class="input-xlarge" value="<%= brewer %>">
                </div>
                <div class="span4">
                    <label for="beer_style">Beer Style</label>
                    <select id="beer_style" class="input-xlarge">
                        <option value="-1">--</option>
                        <% _.each(styles, function (style) { %>
                            <option value="<%= style.id %>" <% if (style.id === beer_style) { print('selected') } %>><%= style.name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="span4">
                    <label>Batch size</label>
                    <div class="input-append">
                        <input id="batch_size" class="span1" type="text" value="<%= batch_size %>">
                        <span class="add-on">l</span>
                    </div>
                </div>
                <div class="span4">
                    <label>Boil time</label>
                    <div class="input-append">
                        <input id="boil_time" class="span1" type="text" value="<%= boil_time %>">
                        <span class="add-on">min</span>
                    </div>
                </div>
                <div class="span4">
                    <label>Brewhouse Efficiency</label>
                    <div class="input-append">
                        <input id="brewhouse_efficiency" class="span1" type="text"  value="<%= brewhouse_efficiency %>">
                        <span class="add-on">%</span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</section>