<section class="container-fluid">
    <form>
        <fieldset>
            <legend>General information</legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="beer_name">Beer Name</label>
                        <input type="text" id="beer_name" class="form-control" value="<%= beer_name %>">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="brewer">Brewer</label>
                        <input type="text" id="brewer" class="form-control" value="<%= brewer %>">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="beer_style">Beer Style</label>
                        <select id="beer_style" class="form-control">
                            <option value="-1">--</option>
                            <% _.each(styles, function (style) { %>
                                <option value="<%= style.id %>" <% if (style.id === beer_style) { print('selected') } %>><%= style.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div><!-- end row -->
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="batch_size">Batch size</label>
                        <div class="input-group">
                            <input id="batch_size" class="form-control" type="text" value="<%= batch_size %>" aria-describedby="batch_size_addon">
                            <span class="input-group-addon" id="batch_size_addon">l</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <div class="form-group">
                        <label for="boil_time">Boil time</label>
                        <div class="input-group">
                            <input id="boil_time" class="form-control" type="text" value="<%= boil_time %>" aria-describedby="boil_time_addon">
                            <span class="input-group-addon" id="boil_time_addon">min</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <div class="form-group">
                        <label for="boil_time">Brewhouse Efficiency</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="brewhouse_efficiency" class="form-control" type="text" value="<%= brewhouse_efficiency %>" aria-describedby="brewhouse_efficiency_addon">
                                    <span class="input-group-addon" id="brewhouse_efficiency_addon">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</section>
