<section id="mashing_section" class="container-fluid">
    <form>
        <fieldset>
            <legend>Mashing schedule</legend>
            <div class="row">
                <div id="mash_schedule" class="col-md-4">
                    <table id="mash_schedule_table" class="table table-bordered table-ingredients">
                        <thead>
                        <tr>
                            <th class="medium-td">Duration (m)</th>
                            <th class="medium-td">Temp (&deg;C)</th>
                            <th class="ex-small"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button type="button" id="add_mash_time" class="btn pull-right">Add time</button>
                </div>
                <div class="col-md-4">
                    graph
                   <div id="mash_graph" class="graph" style="display: none;"></div>
                </div>
            </div>
        </fieldset>
    </form>
</section>