<section id="yeasts_section">
    <form autocomplete="off">
        <fieldset>
            <legend>Yeast</legend>
            <form>
                <div class="row">
                    <div id="yeasts" class="span10">
                        <table id="yeasts_table" class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="large-td">Yeast name</th>
                                <th class="medium-td">Attenuation</th>
                                <th class="medium-td">Form</th>
                                <th class="ex-small"></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <button type="button" id="add_yeast" class="btn pull-right">Add Yeast</button>
                    </div>
                    <div class="span2">
                        <table class="table table-condensed calculations">
                            <tr>
                                <th>ABV</th>
                                <td id="computed_abv"><%= computed_abv %></td>
                                <td>%</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </fieldset>
    </form>
</section>