<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>BeerCalc</title>

    {% block css %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/style.css') }}" />
    {% endblock %}

    {% block js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/backbone-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">BeerCalc Beta</a>
        <ul class="nav">
            <li {% if request.endpoint == 'index' %} class="active" {% endif %} ><a href="{{ url_for('index') }}">Home</a></li>

            {% if g.user.is_authenticated() %}
            <li {% if request.endpoint == 'add_brew' %} class="active" {% endif %}><a href="{{ url_for('add_brew') }}">Add brew</a></li>
            <li{% if request.endpoint == 'my_brews' %} class="active" {% endif %}><a href="{{ url_for('my_brews') }}">My brews</a></li>
            {% endif %}
            <li class="dropdown {% if active_page == 'ingredients' %} active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Ingredients
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li {% if request.endpoint == 'malt_view' %} class="active" {% endif %}><a tabindex="-1" href="{{ url_for('malt_view') }}">Malts</a></li>
                    <li {% if request.endpoint == 'hops' %} class="active" {% endif %}><a tabindex="-1" href="{{ url_for('hops') }}">Hops</a></li>
                    <li {% if request.endpoint == 'yeast' %} class="active" {% endif %}><a tabindex="-1" href="{{ url_for('yeast') }}">Yeast</a></li>
                </ul>
            </li>
            <li {% if request.endpoint == 'browse_brews' %} class="active" {% endif %}><a href="{{ url_for('browse_brews') }}">Browse brews</a></li>
        </ul>
        <ul class="nav pull-right">
        {% if g.user.is_authenticated() %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{g.user.username}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Profile</a></li>
                    <li><a tabindex="-1" href="{{ url_for('logout') }}">Log out</a></li>
                </ul>
            </li>

        {% else %}
            <li><a href="{{ url_for('login') }}">Log in</a></li>
        {% endif %}
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12 main">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>

{% block templates %}{% endblock %}
{% block modal %}

{% endblock %}

</body>
</html>