{% extends "base.html" %}
{% block css %}
    
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/datepicker.css') }}" />
{% endblock %}

{% block js %}
{{ super() }}


{% assets "brewsheet_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

    <script type="text/javascript">
        $(document).ready(function () {
            var name = "{{g.user.name}}";
            var brew;
            var disabled = false;
            {% if brew %}
                brew = {{brew|safe}};
                {% if not is_own %}
                    disabled = true;
                {% endif %}
            {% endif %}

            var brewSheet = new ol.BrewSheet({
                "brew": brew,
                "el": $("#content"),
                "name": name,
                "disabled": disabled
            }).render();
        });
    </script>
{% endblock %}

{% block body %}
    <h2>Brewsheet</h2>
    <div id="brewsheet" class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Plan recipe</a></li>
            <li><a href="#tab2" data-toggle="tab">Brewing</a></li>
            <li><a href="#tab3" data-toggle="tab">Results</a></li>
        </ul>
        <div id="content"></div>
    </div>
{% endblock %}

{% block modal %}
    <div id="modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            &nbsp;
        </div>
        <div class="modal-body"></div>
    </div>
{% endblock %}
    
<!-- TEMPLATES: -->
{% block templates %}
    <script type="text/template" id="brewsheet_template">
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                {% include 'brewsheet_sections/general_information.html' %}
                {% include 'brewsheet_sections/malts_section.html' %}
                {% include 'brewsheet_sections/hops_section.html' %}
                {% include 'brewsheet_sections/yeasts_section.html' %}
                {% include 'brewsheet_sections/additives_section.html' %}
            </div>
            <div class="tab-pane" id="tab2">
                {% include 'brewsheet_sections/water_section.html' %}
                {% include 'brewsheet_sections/mashing_section.html' %}
                {% include 'brewsheet_sections/fermentation_section.html' %}
            </div>
            <div class="tab-pane" id="tab3">
                {% include 'brewsheet_sections/additional_information.html' %}
            </div>
            <section id="save_section">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Save</legend>
                        <div id="controls">
                            <div id="save_results"></div>
                            <button type="button" class="btn" id="show_json">Show JSON</button>
                            {% if is_own %}
                                <button type="button" class="btn" id="save">Save recipe</button>
                            {% endif %}
                            {% if g.user.is_authenticated() %}
                                <button type="button" class="btn" id="clone">Clone</button>
                            {% endif %}
                        </div>
                    </fieldset>
                </form>
            </section>
        </div>
    </script>

    <script type="text/template" id="success_alert_template">
        <div id="success" class="alert alert-<%= type %>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= message%>
        </div>
    </script>

    <script type="text/template" id="malt_table_row_template">
        <td>
            <input id="quantity" type="text" class="input-mini" value="<%= quantity %>">
        </td>
        <td>
            <input id="percentage" type="text" class="input-mini" readonly="readonly" value="<%= percentage %>">
        </td>
        <td>
            <input id="name" type="text" class="input-large" value="<%= name %>">
        </td>
        <td>
            <input id="ppg" type="text" class="input-mini" value="<%= ppg %>">
        </td>
        <td>
            <input id="color" type="text" class="input-mini" value="<%= color %>">
        </td>
        <td class="remove"><i class="icon-remove-circle"></i></td>
    </script>

    <script type="text/template" id="hop_table_row_template">
        <td>
            <input id="quantity" type="text" class="input-mini" value="<%= quantity %>">
        </td>
        <td>
            <input id="name" type="text" class="input-large" value="<%= name %>">
        </td>
        <td>
            <input id="alpha_acid" type="text" class="input-mini" value="<%= alpha_acid %>">
        </td>
        <td>
            <select id="form" class="small">
                <option value="pellets" <% if( form == 'pellets') { %> selected  <% } %>>Pellets</option>
                <option value="cones" <% if( form == 'cones') { %> selected  <% } %>>Cones</option>
            </select>
        </td>
        <td>
            <input id="boil_time" type="text" class="input-medium" value="<%= boil_time %>">
        </td>
        <td class="remove"><i class="icon-remove-circle"></i></td>
    </script>

    <script type="text/template" id="additive_table_row_template">
        <td>
            <input id="quantity" type="text" class="input-mini" value="<%= quantity %>">
        </td>
        <td>
            <input id="name" type="text" class="input-large" value="<%= name %>">
        </td>
        <td>
            <input id="added_when" type="text" class="input-medium" value="<%= added_when %>"> <!-- todo: make select -->
        </td>
        <td>
            <input id="boil_time" type="text" class="input-medium" value="<%= boil_time %>">
        </td>
        <td class="remove"><i class="icon-remove-circle"></i></td>
    </script>

    <script type="text/template" id="yeast_table_row_template">
        <td>
            <input id="name" type="text" class="input-large" value="<%= name %>">
        </td>
        <td>
            <input id="attenuation" type="text" class="input-medium" value="<%= attenuation %>">
        </td>
        <td>
            <select id="type" class="small">
                <option value="liquid" <% if( type == 'liquid') { %> selected  <% } %>>Liquid</option>
                <option value="dry" <% if( type == 'dry') { %> selected  <% } %>>Dry</option>
                <option value="homegrown" <% if( type == 'homegrown') { %> selected  <% } %>>Homegrown</option>
            </select>
        </td>
        <td class="remove"><i class="icon-remove-circle"></i></td>
    </script>

    <script type="text/template" id="mash_time_row_template">

        <td class="medium">
            <input id="mash_time" type="text" class="input-mini" value="<%= mash_time %>">
        </td>
        <td class="medium">
            <input id="mash_temperature" type="text" class="input-mini" value="<%= mash_temperature %>">
        </td>
        <td class="remove"><i class="icon-remove-circle"></i></td>
    </script>

    <script type="text/template" id="fermentation_row_template">

        <td class="medium">
            <input id="type" type="text" class="input-medium" value="<%= type %>">
        </td>
        <td class="medium">
            <input id="days" type="text" class="input-mini" value="<%= days %>">
        </td>
        <td class="mini">
            days
        </td>
        <td class="mini">
            at
        </td>
        <td class="medium">
            <input id="temperature" type="text" class="input-mini" value="<%= temperature %>">
        </td>
        <td class="mini">
            &deg;C
        </td>
        <td class="remove"><i class="icon-remove-circle"></i></td>
    </script>
{% endblock %}
