{% extends "ingredient_list.html" %}
{% block js %}
{{ super() }}

<script type="text/javascript">
    $(document).ready(function(){
        new ol.HopList({el: $("#hops")}).setData({{hops|safe}});
    });
</script>

{% endblock %}

{% block body %}
<section id="hops">
    <h2>Hops</h2>
    <table class="table" style="width: 100%;">
        <thead>
        <tr>
            <th>Name</th>
            <th>&alpha;Acid (%)</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    {% if g.user.is_authenticated() %}
    <button class="btn" id="add">Add Hop</button>
    {% endif %}
</section>
{% endblock %}