{% extends "base.html" %}
{% block body %}

    <section>
        <h1>Brewcalc</h1>
        <p>Brewcalc is a tool for designing and storing homebrewing recipes. It's largely based on my understanding of the material presented in John Palmers "How to brew" and Randy Moshers "Radical brewing".
        Please note that there may be several errors here, consider this an early beta!
        </p>

        <p>All recipes stored here are browse- (and clone-) able for everyone. To create an account, click "log in" and sign in using Google or MyOpenID.
            Feedback on all aspects of this app is appreciated!. Clone the codebase (Python/Flask and JavaScript/Bootstrap) on <a href="https://github.com/atlefren/beercalc">GitHub</a>.
        </p>
        <p>Happy brewing!</p>
    </section>


{% endblock %}