<section id="mashing_section">
    <form>
        <fieldset>
            <legend>Mashing schedule</legend>
            <div class="row content">
                <div class="span4" style="width: 270px;">
                    <table id="mashing" class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="medium-td">Duration (m)</th>
                            <th class="medium-td">Temp (&deg;C)</th>
                            <th class="ex-small"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button type="button" id="add_mash_time" class="btn pull-right">Add time</button>
                </div>
                <div class="span5">
                    <!--<div id="mash_graph" class="graph"></div>-->
                </div>
            </div>
        </fieldset>
    </form>
</section>