{% extends "ingredient_list.html" %}
{% block js %}
{{ super() }}

<script type="text/javascript">
    $(document).ready(function(){
        new ol.YeastList({el: $("#yeasts")}).setData({{yeasts|safe}});
    });
</script>

{% endblock %}

{% block body %}
<section id="yeasts">
    <h2>Yeasts</h2>
    <table class="table" style="width: 100%;">
        <thead>
        <tr>
            <th>Name</th>
            <th>Attenuation</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    {% if g.user.is_authenticated() %}
    <button class="btn" id="add">Add Yeast</button>
    {% endif %}
</section>
{% endblock %}